.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html, body{height:100%; margin:0;padding:0}

#logo {
    margin-left: 5px;
    width: auto;
    height: 50px;
}
.navbar-brand{
    padding: 0;
}
.ContainerSize {
    margin: 20px auto 0;
    width: 50%;
    height: auto;
    white-space: normal;
}
.ng-trans {
    -webkit-transition: 700ms all;
    transition: 700ms all;
}
.question-image {
    max-width: 150px;
    max-height: 150px;

}
.col-centered{
    float: none;
    margin: 50px auto 0;
}
body {
    background: url("../Pictures/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.questionsPanel {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;

}

.panel {
    border-radius: 15px;
}
.panel-heading {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.buttonFont {
    font-size: 20px;
    color: #009926;
}







