<form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
        <label for="expName" class="col-sm-2 control-label">Experiment name:</label>

        <div class="col-sm-4">
            <input type="text" class="form-control" id="expName" ng-model="expName" placeholder="Experiment name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Experiment description:</label>

        <div class="col-sm-4">
            <textarea class="form-control" ng-model="expDes" rows="2" placeholder="Experiment description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Experiment course:</label>

        <div class="col-sm-1">
            <div ng-dropdown-multiselect="" options="courses" selected-model="selectedCourse"
                 extra-settings="settingsCourses">
            </div>
        </div>
        <div class="col-sm-5">
            <h5 class="ng-trans ng-trans-fade-right" ng-show="!selectedCourse.id">
                <small>Select at least one course.</small>
            </h5>
        </div>
    </div>


    <div class="form-group">
        <div class="ng-trans ng-trans-fade-up" ng-show="selectedCourse.id">
            <label class="col-sm-2 control-label">Quizzes:</label>

            <div class="col-sm-1">
                <div ng-dropdown-multiselect="" options="quizzes" selected-model="selectedQuiz"
                     extra-settings="settingsQuizzes"></div>
            </div>
            <div class="col-sm-5" class="ng-trans ng-trans-fade-right" ng-show="!selectedQuiz.id">
                <h5>
                    <small>Select quiz type.</small>
                </h5>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Experiment algorithm:</label>

        <div class="col-sm-1">
            <div ng-dropdown-multiselect="" options="algo" selected-model="selectedAlgorithms"
                 extra-settings="settingsAlgorithms"></div>
        </div>
        <div class="col-sm-5">
            <h5 class="ng-trans ng-trans-fade-right" ng-show="selectedAlgorithms.length == 0">
                <small>Select between one or two algorithms.</small>
            </h5>
        </div>
    </div>


    <div class="form-group ng-trans ng-trans-fade-up" ng-show="selectedAlgorithms.length == 2">
        <label for="expName" class="col-sm-2 control-label">Distribution:</label>

        <div class="col-sm-3">
            <slider floor="0" ceiling="100" step="1" precision="1" ng-model="sliderBar"></slider>
        </div>
        <div class="col-sm-5">
            <h5>
                <small>{{sliderBar}}% users will use Algo: {{selectedAlgorithms[0].recommender}} and {{100-sliderBar}}%
                    users will use Algo: {{selectedAlgorithms[1].recommender}}
                </small>
            </h5>
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Number of questions:</label>
        <div class="col-sm-1">
            <input type="number" name="input" ng-model="numberOfQuestions"
                   min="1" max="99" required>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="selectedAlgorithms.length == 0 || !selectedCourse.id || !selectedQuiz.id || !expName" type="submit"
                    class="btn btn-default">Submit
            </button>
        </div>
    </div>
</form>