<div ng-style="myStyle">
    <div class="row">
        <div class="col-xs-12">
            <h3 dir="auto" translate="HotOrNotTitle"></h3>
            <h5 dir="auto" translate="HotOrNotDes"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
                <progressbar max="totalQuestion" value="questionAnswered" class="progress-striped active">
                <span style="color:black; white-space:nowrap; font-weight: bold;">{{questionAnswered}} / {{totalQuestion}}</span>
            </progressbar>
        </div>
        </div>
    <div class="row">
        <div ng-repeat="question in questions" class="col-xs-5" style="margin: 0 1em;">
        <div class="dropdown" on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
                <button class='btn btn-default btn-xs ContainerSize' ng-click="selectQuestion(question)">
                    <h5 dir="auto" ng-bind-html="question.question_name"></h5>
                    <h6 dir="auto" ng-bind-html="question.question_text">
                    </h6>
                </button>
                </a>
            <ul class="dropdown-menu">
                <div>
                    <div ng-show="question.question_type == 'multiple_choice_question'">
                        <form ng-submit="submit()">
                            <div ng-repeat="ans in selectedQuestion.answers">
                                <input type="radio" name="Ans" ng-model="$parent.$parent.answer"
                                       ng-required="!$parent.$parent.answer"
                                       ng-value="ans.id">
                                {{ans.text}}
                            </div>
                            <button type="submit" class='btn btn-default' translate="Answer"></button>
                        </form>
                    </div>
                    <div ng-show="question.question_type == 'multiple_answers_question'">
                        <form ng-submit="submit()">
                            <div ng-repeat="ans in selectedQuestion.answers" dir="auto">
                                <input type="checkbox" name="Ans" checklist-model="$parent.$parent.answer"
                                       ng-required="!($parent.$parent.$parent.answer.length > 0)" checklist-value="ans.id">
                               {{ans.text}}
                            </div>
                            <button type="submit" class='btn btn-default' translate="Answer"></button>
                        </form>
                    </div>
                    <div ng-show="question.question_type == 'short_answer_question'">
                        <form ng-submit="submit()">
                            <input type="text" name="Ans" ng-model="answer" ng-required="!$parent.$parent.answer">
                            <button type="submit" class='btn btn-default' translate="Answer"></button>
                        </form>
                    </div>
                </div>








            </ul>

        </div>



        </div>
    </div>







    </div>