<div class="panel panel-default questionsPanel" >
    <div class="row">
        <div class="col-xs-12 ng-trans ng-trans-fade" dir="auto" style="margin-bottom: 5px">
            <h2 class="">{{answerFeedback}}
                <button type="button" class="btn btn-default" style="font-size: 20px;" ng-show="secondAttempt" ng-click="sendFinalAnswer()">דלג</button></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
            <progressbar value='questionAnswered / totalQuestion * 100' class="active" type="success">
                <span style="color:black; white-space:nowrap; font-weight: bold;"></span>
            </progressbar>
                </div>
        </div>
        <div class="row" xmlns="http://www.w3.org/1999/html">
            <div>
                <div class="ContainerSize col-xs-6 ng-trans ng-trans-fade-down" ng-repeat="question in questions" ng-class="{'col-centered': questions.length == 1}">
                <question-panel question="question" submit="submit(question)"></question-panel>

                </div>

            </div>
        </div>
    </div>
</div>
