<!DOCTYPE html>
<html>
<title>HotOrNot: Meets Education</title>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../../bower_components/ng-trans-css/ng-trans.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/navStyle.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-slider/slider.css">
    <link rel="stylesheet" type="text/css" href="../../bower_components/angular-notify/dist/angular-notify.min.css">


</head>
<body ng-app="HotOrNot">
<nav class="navbar navbar-default" ng-controller="UpperMenu">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="Home">
                <img alt="Brand" src="../Pictures/HotOrNotLogo.PNG" id="logo">
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a ui-sref="Home" translate="Home"></a></li>
                <li><a ui-sref="AboutUs" translate="AboutUs"></a></li>
                <li><a ui-sref="statistics" translate="Comparison" ng-show="userName.isAdmin"></a></li>
                <li><a ui-sref="CreateExp" translate="CreateExp" ng-show="userName.isAdmin"></a></li>
                <li class="dropdown" dropdown on-toggle="toggled(open)">
                    <a href class="dropdown-toggle" dropdown-toggle translate="MyCourses">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--                            <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolFirst"></a></li>
                                                    <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolSecond"></a></li>
                                                    <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolThird"></a></li>-->
                        <li role="presentation" ng-repeat="experiment in experiments">
                            <a ui-sref="HotOrNot({experimentId : experiment.id})">{{experiment.name}}</a>
                        </li>
                    </ul>

                </li>

                <li class="dropdown" dropdown on-toggle="toggled(open)" >
                    <a href class="dropdown-toggle" dropdown-toggle translate="Statistics" ng-show="userName.isAdmin">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--                            <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolFirst"></a></li>
                                                    <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolSecond"></a></li>
                                                    <li role="presentation"><a ui-sref="HotOrNot" translate="SchoolThird"></a></li>-->
                        <li role="presentation" ng-repeat="stat in statisticsData">
                            <a ng-href="{{stat.url}}">{{stat.name}}</a>
                        </li>
                    </ul>

                </li>
                <!--<li><a ui-sref="Stat" translate="Statistics"></a></li>-->
            </ul>


            <ul class="nav navbar-nav navbar-right" ng-controller="TranslateController">
                <li role="presentation"><a ng-click="changeLanguage()" translate="Language"></a></li>


            </ul>


            <div ng-show="!userName.name">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="/login">
                            <span class="glyphicon glyphicon-log-in"></span><span translate="Login"></span> </a>
                    </li>

                </ul>
            </div>


            <div ng-show="userName.name && userName.name !=='' ">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome, {{userName.name}} </a></li>
                    <li>
                        <a href="/logout">
                            <span class="glyphicon glyphicon-log-out"></span><span translate="Logout"></span> </a>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</nav>
<div class="container">





    <div ui-view></div>


</div>
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../../bower_components/checklist-model/checklist-model.js"></script>
<script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../../bower_components/angular-translate/angular-translate.js"></script>
<script src="../../bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/lodash/dist/lodash.min.js"></script>
<script src="../../bower_components/angularjs-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>
<script src="../../bower_components/angular-slider/slider.js"></script>
<script src="../../bower_components/Chart.js/Chart.min.js"></script>
<script src="../../bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="../../bower_components/angular-notify/dist/angular-notify.min.js"></script>
<script src="../js/controllers.js"></script>
<script src="../js/route.js"></script>
<script src="../js/lang.js"></script>
<script src="../js/statistics.js"></script>
<script src="../js/diractive.js"></script>
<script src="../js/upperMenu.js"></script>
</body>
</html>