<div class='panel panel-success' ng-mouseover="question.isCurrent = true"
     ng-mouseleave="question.isCurrent = false">
    <div dir="auto" class="panel-heading" >
        <div>{{question.questionTitle}}</div>
    </div>
<div class="panel-body">
    <div style="margin: 10px;">
        <h3 dir="auto" ng-bind-html="question.question_name" style="font-weight: bold;"></h3>
        <h4 dir="auto" ng-bind-html="question.question_text"></h4>

    </div>
    <div collapse="!question.isCurrent && false">
        <div class="" dir="auto" style="padding: 10px;">
            <div>
                <img ng-src="{{question.img}}" class="question-image">
                <form ng-submit="submit(question)"
                      ng-show="question.question_type == 'multiple_answers_question'">
                    <div ng-repeat="ans in question.answers" class="h4">
                        <input
                                type="checkbox" name="Ans" checklist-model="question.studentAnswer"
                                ng-required="!(question.studentAnswer.length > 0)"
                                checklist-value="ans.id">
                        {{ans.text}}

                    </div>


                    <button type="submit" class='btn btn-default buttonFont' translate="Answer" ng-disabled="question.disableAns"></button>
                </form>

                <form ng-submit="submit(question)"
                      ng-show="question.question_type == 'multiple_choice_question'">
                    <div ng-repeat="ans in question.answers" class="h4">
                        <input
                                type="radio" name="Ans" ng-model="question.studentAnswer"
                                ng-required="!question.studentAnswer"
                                ng-value="ans.id">
                        {{ans.text}}


                    </div>

                    <button type="submit" class='btn btn-default buttonFont' translate="Answer" ng-disabled="question.disableAns"></button>
                </form>

                <form ng-submit="submit(question)"
                      ng-show="question.question_type == 'short_answer_question'" class="h4">
                    <input type="text" name="Ans" ng-model="question.studentAnswer"
                           ng-required="!question.studentAnswer" >

                    <button type="submit" class='btn btn-default buttonFont' translate="Answer" ng-disabled="question.disableAns"></button>
                </form>

            </div>
        </div>
    </div>
</div>
</div>