<div class="row">
    <div class="col-xs-offset-1 col-xs-1">
        <h3>Statistics
        </h3>
    </div>
</div>
<div class="row ng-trans ng-trans-fade-down">
    <div class="panel panel-default col-xs-5 col-xs-offset-4">
        <div class="page-header"><h3>Experiment Statistics</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                <tr>
                    <td>Name</td>
                    <td>Link</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="link in statisticsData">
                    <td>{{link.name}}</td>
                    <td>{{link.url}}</td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>
