<div class="row">
    <div class="col-xs-offset-1 col-xs-1">
        <h3>Comparison
        </h3>
    </div>


    <div class="col-xs-1 col-xs-offset-5" style="padding-top: 15px">
        <div ng-dropdown-multiselect="" options="experiments" selected-model="selectedExp"
             extra-settings="settings">
        </div>
    </div>
    <div class="col xs-1 col-xs-offset-9" style="padding-top: 15px">
        <button class="btn btn-default" ng-click="loadData()" ng-disabled="selectedExp.length < 2">Load</button>
    </div>
</div>
<div class="row ng-trans ng-trans-fade-down" ng-show="data">
    <div class="panel panel-default col-xs-12">
        <div class="page-header">
            <h3>Comparison
            </h3>

        </div>
        <div class="panel-body">
            <canvas id="bar" class="chart chart-bar" data="data"
                    labels="labels" series="series"></canvas>
        </div>


    </div>
</div>